# Ignore data 
data/BoT_IoT_Data/**
data/JITC_Data/**
models/spark-streaming/scripts/checkpoint/**
__pycache__/**
models/dis/devices/__pycache__/**
models/spark-streaming/scripts/checkpoint/**
models/spark-streaming/scripts/checkpoint/offsets/**
.vagrant/**
models/dis/__pycache__
models/dis/devices/__pycache__/**
models/dis/devices/__pycache__
models/spark-streaming/scripts/__pycache__/**
models/spark-streaming/scripts/__pycache__
evl_streaming_src/dis/__pycache__/**
evl_streaming_src/__pycache__/** 
evl_streaming_src/dataOps/__pycache__/** 
evl_streaming_src/dis_sims/__pycache__/** 
pyvenv/**
pyvenv/bin/** 
pyvenv/include/**
pyvenv/lib/**
pyvenv/lib64/**
/data/JITC_Data/files/**
/data/JITC_Data/dataframe/**
/evl_streaming_src/df_train_sel_feat_application.csv