art==6.1
confluent-kafka==2.3.0
cplex==22.1.1.2
docplex==2.27.239
flatbuffers==24.3.25
h5py==3.11.0
isodate==0.6.1
jax==0.4.26
keras==3.3.3
libclang==18.1.1
markdown-it-py==3.0.0
mdurl==0.1.2
ml-dtypes==0.3.2
namex==0.0.8
noisecut==0.2.1
optree==0.11.0
owlready2==0.45
pad-sequences==0.6.1
pip==24.0
rdflib==7.0.0
rich==13.7.0
tensorboard==2.16.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
PyYAML==6.0.1
numpy
pandas
scikit-learn
bitarray
docker
